.wrap .tablenav {
	float: right;
	width: 23.5%;
	display: block;
	height: auto;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 15px;
	box-sizing: border-box;
	margin: 0;
}

.wrap .tablenav.bottom {
	float: left;
	clear: none;
	margin-top: 15px;
}

.wrap .tablenav .alignleft {
	float: none;
	padding: 0;
}

.wrap .tablenav p {
	margin-top: 0;
}

.wrap .tablenav.top select[name="action"],
.wrap #doaction,
.wrap .tablenav.bottom a.checkforspam,
.wrap .tablenav .clear {
	display: none;
}

.wrap .tablenav.top input[name="s"],
.wrap .tablenav.top select,
.wrap .tablenav.bottom select {
	display: block;
	box-sizing: border-box;
	width: 100% !important;
	margin: 0 0 10px 0;
	float: none !important;
	max-width: none !important;
}

.wrap table.comments,
.wrap table.wp-list-table {
	float: left;
	clear: none;
	width: 75%;
	margin-right: 1.5%;
}

.wrap .tablenav a.checkforspam {
	display: inline-block;
}

.wrap .tablenav.top .tablenav-pages {
	float: none;
	margin-top: 15px;
	border-top: 1px dashed #dfdfdf;
	padding-top: 5px;
	height: auto;
}

.wrap .tablenav.top .view-switch {
	float: none;
	margin: 10px 0 0;
}

.wrap .tablenav.top .displaying-num {
	display: block;
}

.wrap .tablenav.bottom .tablenav-pages {
	display: none;
}

.wrap #new_role,
.wrap #doaction2,
.wrap #post-query-submit {
	margin-top: 15px;
	display: block;
}